<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>    <!--后端博客管理-->
    <link rel="stylesheet" href="../../static/css/semantic.min.css" th:href="@{/css/semantic.min.css}">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/static/css/me.css}">
</head>
<body>

<!--    导航-->
<nav class="ui inverted attached segment m-padding-tb-min m-shadow-small">    <!--inverted反转-->
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header m-lxd-blog">管理后台</h2>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/admin/blogs}"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/admin/types}"><i class="idea icon"></i></icon>
                分类</a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/admin/tags}"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/admin/myBlogs}"><i class="book icon"></i>我的博客</a>
            <a href="#" th:href="@{/to/myFiles}" class="m-item item m-mobile-hide"><i class="file icon"></i>我的文件</a>
            <!--right item表示靠右-->
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text" >
                        <img class="ui avatar image" src="https://picsum.photos/seed/picsum/100/100">
                        <p style="display: inline" th:text="${username}"></p>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="/admin/toAdmin" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <!--menu toggle   没有显示意义，jquery获取元素-->
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--中间内容-->
<div class="m-container-small m-padding-tb-large">
    <div class="ui  container">     <!--展示最好的效果-->
        <div class="ui success message large">
            <h2 th:text="${username}">Hi,</h2>
            <p>欢迎登录
            </p>
        </div>
        <img src="https://unsplash.it/1000/400?image=1005" alt="" class="ui rounded bordered fluid image">

    </div>
</div>
<br>
<br>


<!--底部footer-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padding-tb-massive">
    <!-- vertical 垂直-->
    <div class="ui center aligned container">      <!--center aligned 表示container里面的东西全部居中-->
        <div class="ui inverted divided stackable grid">    <!--grid默认16列-->
            <div class="three wide column" align="center">     <!-- wide 填满   column 列-->
                <img src="../../static/images/wxhy.jpg" th:src="@{/static/images/wxhy.jpg}" class="ui rounded image"
                     style="width:110px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(user store)</a>
                    <a href="#" class="item">用户故事(user store)</a>
                    <a href="#" class="item">用户故事(user store)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:114cris@gmail.com</a>
                    <a href="#" class="item">QQ:1120620371</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">Blog</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">这是我的个人博客，欢迎前来观看，仅提供学习只用，同各类同道中人一起交流发展</a>
                </div>
            </div>
        </div>
        <div class="ui inverted divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">copyriht : © 2020 Designed by CRIS</p>
    </div>

</footer>

<!--/*/<th:block th:relpace="_fragments :: script">/*/-->
<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<!--/*/</th:block>/*/-->
<script>
    $(function (){
        //获取浏览器navigator对象的userAgent属性（浏览器用于HTTP请求的用户代理头的值）
        var info = navigator.userAgent;
        //通过正则表达式的test方法判断是否包含“Mobile”字符串
        var isPhone = /mobile/i.test(info);
        //如果包含“Mobile”（是手机设备）则返回true
        if(isPhone){
            $('.menu.toggle').css("display","block");
        }else{
            $('.menu.toggle').css("display","none");
        }
    })
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');   /*点击有这个效果就删除，没有这个效果就增加*/
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });


</script>
</body>
</html>














