<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理注册</title>    <!--后端博客管理-->
    <link rel="stylesheet" href="../../static/css/semantic.min.css" th:href="@{/css/semantic.min.css}">
    <link rel="stylesheet" href="../../static/css/me.css">
    <style type="text/css">
        /*video{
            position: fixed;
            right:0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -9999;
            !*灰色调*!
            !*-webkit-filter:grayscale(100%)*!

        }*/
    </style>
</head>
<body>
<!--<video id="v1" autoplay muted loop style="position: fixed;
            right:0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -9999;">
    <source  src="../../static/images/river1.mp4" th:src="@{/images/river1.mp4}">
</video>-->
<div class="m-container-small m-padding-tb-massive" style="max-width: 30em !important; margin-left: 50%; transform: translateX(-50%);">

    <div class="ui container">
        <div class="m-padding-tb-massive ui middle aligned center aligned grid">
            <div class="column" style="margin-top: 40%">

                <h2 class="ui teal image header">
                    <div class="content">

                        注册
                    </div>
                </h2>

                <!--        注册-->
                <form class="ui large form registerForm">
                    <!--提交到admin下面的login方法-->
                    <div class="ui segment" style="background-color: #fff0;border: none">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text"  class="username1"  placeholder="请输入用户名"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password"  class="pwd" placeholder="请输入密码"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="hand pointer icon"></i>
                                <input type="text"  class="invitedCode" placeholder="请输入邀请码"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" class="email" placeholder="请输入邮箱"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="check icon"></i>
                                <input type="text" style="width: 60%"
                                       class="verificationCode1" placeholder="请输入验证码"/>
                                <canvas   id = "canvas"
                                          style="margin-left: 15px;vertical-align: middle;box-sizing: border-box;cursor: pointer;border: 1px solid #ddd"
                                          width="98" height="40"></canvas>
                            </div>
                            <div class="ui left icon input">

                            </div>
                        </div>
                        <input type="button" class="ui fluid large teal  button" onclick="registerUser()" value="注册">
                        <input type="button" onclick="toLogin()" class="ui fluid large button" style="margin-top:10px" value="返回登陆"/>
                    </div>
                    <div class="ui error message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">
                        用户名和密码错误
                    </div>    <!--判断是否为空-->
                </form>
            </div>



        </div>
    </div>
</div>


<!--/*/<th:block th:relpace="_fragments :: script">/*/-->
<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script src="../static/jsUtils/messageUtils.js" th:src="@{/jsUtils/messageUtils.js}"></script>
<script src="../static/js/canvas_demo.js" th:src="@{/js/canvas_demo.js}"></script>
<!--/*/</th:block>/*/-->

<script>
    var show_num = [];
    $(function () {
        drawCode(show_num);
        getCanvas();

        // $('.registerTest').hide();
        $("#canvas").on('click',function(){
            show_num = [];
            drawCode(show_num);
        })
    })

    function toLogin() {
        window.location.href = "/to/toAdmin"
    }



    function drawCode(show_num) {
        let canvas_width = $('#canvas').width();
        let canvas_height = $('#canvas').height();
        let code = $('#canvas');
        let context = code.get(0).getContext('2d');
        context.fillStyle = '#ffffff';
        context.fillRect(0, 0, canvas_width, canvas_width);
        code.width = canvas_width;
        code.height = canvas_height;
        let sCode = "a,b,c,d,e,f,g,h,i,j,k,m,n,p,q,r,s,t,u,v,w,x,y,z,A,B,C,E,F,G,H,J,K,L,M,N,P,Q,R,S,T,W,X,Y,Z,1,2,3,4,5,6,7,8,9,0";        //定义图片中的字符
        let aCode = sCode.split(",");
        let aLength = aCode.length;//获取到数组的长度
        for (let i = 0; i < 4; i++) {  //这里的for循环可以控制验证码位数（如果想显示6位数，4改成6即可）
            let j = Math.floor(Math.random() * aLength);//获取到随机的索引值
            // var deg = Math.random() * 30 * Math.PI / 180;//产生0~30之间的随机弧度
            let deg = Math.random() - 0.5; //产生一个随机弧度
            let txt = aCode[j];//得到随机的一个字符
            show_num[i] = txt.toLowerCase();
            let x = 10 + i * 20;//文字在canvas上的x坐标
            let y = 20 + Math.random() * 15;//文字在canvas上的y坐标
            context.font = "bold 20px 微软雅黑";

            context.translate(x, y);
            context.rotate(deg);

            context.fillStyle = randomColor();
            context.fillText(txt, 0, 0);

            context.rotate(-deg);
            context.translate(-x, -y);
        }
        for (var i = 0; i <= 5; i++) { //验证码上显示线条
            context.strokeStyle = randomColor();
            context.beginPath();
            context.moveTo(Math.random() * canvas_width, Math.random() * canvas_height);
            context.lineTo(Math.random() * canvas_width, Math.random() * canvas_height);
            context.stroke();
        }
        for (var i = 0; i <= 30; i++) { //验证码上显示小点
            context.strokeStyle = randomColor();
            context.beginPath();
            var x = Math.random() * canvas_width;
            var y = Math.random() * canvas_height;
            context.moveTo(x, y);
            context.lineTo(x + 1, y + 1);
            context.stroke();
        }
    }

    //得到随机的颜色值
    function randomColor() {
        let r = Math.floor(Math.random() * 256);
        let g = Math.floor(Math.random() * 256);
        let b = Math.floor(Math.random() * 256);
        return "rgb(" + r + "," + g + "," + b + ")";
    }

    /*function checkForm() {
        let username = $('.username').val();
        let password = $('.password').val();
        if(username == '' || username == null || password == '' || password == null){
            getMessage("error","请输入用户名或密码");
            return false;
        }
        let verificationCode = $('.verificationCode').val().toLowerCase();
        let code = $('.code').val().toLowerCase();
        if (verificationCode == code) {
            return true;
        } else {
            getMessage("warning", "验证码输入有误");
            $('.verificationCode').val("");
            changeCode();
            return false;
        }
    }*/

    function registerUser(){
        let user = $('.username1').val();
        let pwd = $('.pwd').val();
        let email = $('.email').val().trim();
        //正则判断
        eval("var reg = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/");
        if(!RegExp(reg).test(email)){
            getMessage("warning", "请输入正确格式的邮箱");
            return false;
        }
        let invitedCode = $('.invitedCode').val();
        if(user == '' || user == null || pwd == '' || pwd == null || email == '' || email == null || invitedCode == '' || invitedCode ==null){
            getMessage("error","请检查用户名、密码或邀请码是否为空");
            return false;
        }

        let verificationCode = $('.verificationCode1').val().toLowerCase();
        let code = this.show_num.join("");
        if (verificationCode == code) {
            $.ajax({
                url: "/admin/register",
                method : "post",
                data: {
                    username : user,
                    password : pwd,
                    email : email,
                    invitedCode : invitedCode
                },
                success:function (data){
                    getMessage("info",data);
                }
            })
        } else {
            getMessage("warning", "验证码输入有误");
            $('.verificationCode').val("");
            drawCode(show_num);
        }}


</script>

</body>
</html>
