body {
    background: url("../images/white-waves.png");
}

/*padding*/
.m-padding-min {
    padding: 0.2em !important;
}

.m-padding-tiny {
    padding: 0.3em !important;
}

.m-padded {
    padding: 1em !important;
}

.m-padding-tb-min {
    padding-top: 0.2em !important; /* !important提高在semantic的优先级*/
    padding-bottom: 0.2em !important;
}

.m-lxd-blog {
    padding-top: 0.35em !important;
}

.m-padding-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.m-padding-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.m-padding-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.m-padding-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.m-padding-tb { /*普通设置*/
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.m-padding-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.m-padding-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.m-padding-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

.m-margin-bottom-small {
    padding-bottom: 0.5em !important;

}

/*margin*/
.m-margin-tb-tiny {
    margin-top: 0.3em;
!important;
    margin-bottom: 0.3em !important;
}

.m-margin-top-small { /*外间距*/
    margin-top: 0.5em !important;
}

.m-margin-top {
    margin-top: 1em !important;
}

.m-margin-top-large {
    margin-top: 2em !important;
}


/*---------------text------------------*/
.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 2
}

.m-text-thin {
    font-weight: 300 !important;
}

.m-text-spaced {
    letter-spacing: 1px !important; /*字间距*/
}

.m-text-lined｛
line-height：2
｝
    /*opacity  透明度*/
.m-opacity-mini {
    opacity: 0.8 !important;
}

.m-opacity-tiny {
    opacity: 0.6 !important;
}

/*--------------display-----------------*/

.m-inline-block {
    display: inline-block !important;
}

.m-container {
    max-width: 75em !important;
    margin: auto !important;
}

.m-container-small {
    max-width: 65em !important;
    margin: auto !important;
}

.m-shadow-small { /*导航阴影*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /*适应其余浏览器*/
}

/*position*/
.m-fixed {
    position: fixed !important; /*绝对布局*/
    z-index: 10 !important; /*表示最上层*/
}

.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}

/*颜色*/

.m-black {
    color: #333333;
}

/*位置*/

.m-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.m-mobile-show {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .m-mobile-hide {
        display: none !important;
    }

    .m-mobile-show {
        display: block !important;
    }

    .m-padding-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .m-mobile-wide {
        width: 100% !important;
    }

    .m-mobile-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/*若屏幕小于768*/
.editormd-form>input {
    width: auto !important;
}