<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>    <!--代表当前分类所有的文章，显示本分类的文章，细分则还有标签-->
    <link rel="stylesheet" href="../static/css/semantic.min.css" th:href="@{/css/semantic.min.css}">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--    导航-->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padding-tb-min m-shadow-small">
    <!--inverted反转-->
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header m-lxd-blog">Cris</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i></icon>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我 </a>
            <div class="right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="search......">
                    <i class="search link icon"></i>
                </div>
            </div>    <!--right iten表示靠右-->
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <!--menu toggle   没有显示意义，jquery获取元素-->
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-container m-padding-tb-large">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui teal basic segment">
                    <img src="https://picsum.photos/800/600" alt="" class="ui rounded image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text">我，一个热爱文学的热血青年，热衷于奇奇怪怪的事情，对什么都充满热情</p>
                    <p class="m-text">考研人，也是一个程序猿，在两者道路上愈行愈远...</p>
                </div>
                <div class="ui attached segment">
                    <div th:each="tag : ${tags}" style="display: inline">
                        <div class="ui orange basic left pointing label m-margin-tb-tiny" th:text="${tag.name}">编程</div>
                    </div>
                </div>
                <div class="ui attached segment">
                    <div th:each="type : ${types}" style="display: inline">
                        <div class="ui teal basic left pointing label m-margin-tb-tiny" th:text="${type.name}">JAVA
                        </div>
                    </div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="https://github.com/Cris-lxd/blog.git" class="ui circular icon button"><i
                            class="github icon"></i></a>
                    <a href="#" class="ui weChat circular icon button"><i class="wechat icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="QQ:1120620371"
                       data-position="bottom center"><i class="qq icon"></i></a>
                </div>

                <!--点击才会出现的隐藏二维码-->
                <div class="ui wechat-qr flowing popup transition hidden">
                    <img src="../images/wxhy.jpg" th:src="@{/images/wxhy.jpg}" alt="" class="ui rounded image"
                         style="width: 100px">
                </div>
            </div>
        </div>
    </div>

</div>
<br>
<br>


<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padding-tb-massive"><!-- vertical 垂直-->
    <div class="ui center aligned container">      <!--center aligned 表示container里面的东西全部居中-->
        <div class="ui inverted divided stackable grid">    <!--grid默认16列-->
            <div class="three wide column" align="center">     <!-- wide 填满   column 列-->
                <img src="../static/images/wxhy.jpg" class="ui rounded image" style="width:110px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(user store)</a>
                    <a href="#" class="item">用户故事(user store)</a>
                    <a href="#" class="item">用户故事(user store)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:15234023889@163.com</a>
                    <a href="#" class="item">QQ:1120620371</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">Blog</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">这是我的个人博客，欢迎前来观看，仅提供学习只用，同各类同道中人一起交流发展</a>
                </div>
            </div>
        </div>
        <div class="ui inverted divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">copyriht : © 2020 Designed by CRIS</p>
    </div>

</footer>
<div th:replace="_fragments :: script">
    <script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
    <script src="../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
</div>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');   /*点击有这个效果就删除，没有这个效果就增加*/
    });

    $(function () {
        getCanvas();
    })
    $('.qq').popup();
    $('.weChat').popup({
        popup: $('.wechat-qr.popup'),
        position: 'bottom center'
    });
</script>
</body>
</html>














