<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客详情</title>
    <link rel="stylesheet" href="../static/css/icon.min.css" th:href="@{/css/icon.min.css}">
    <link rel="stylesheet" href="../static/css/semantic.min.css" th:href="@{/css/semantic.min.css}">
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
    <link rel="stylesheet" href="../static/css/animate.css" th:href="@{/css/animate.css}">
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.css}">

    <link rel="shortcut icon" href="../static/images/logo.png" th:href="@{/images/logo.png}" type="image/x-icon"/>
    <!-- <link rel="stylesheet" th:href="">-->
    <style>
        /*body, html{*/
        /*    -moz-user-select: none; !*火狐*!!*选中文字时避免出现蓝色背景*!*/
        /*    -webkit-user-select: none; !*webkit浏览器*!!*选中文字时避免出现蓝色背景*!*/
        /*    -ms-user-select: none; !*IE10*!!*选中文字时避免出现蓝色背景*!*/
        /*    user-select: none;!*选中文字时避免出现蓝色背景*!*/
        /*}*/

    </style>
</head>
<body>

<!--    导航-->
<nav  class="ui inverted attached segment m-padding-tb-min  m-shadow-small">
    <!--inverted反转-->

    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header m-lxd-blog">Cris</h2>
            <a href="/to/toIndex1" class="active m-item item m-mobile-hide"><i
                    class="home icon"></i>首页</a>
            <div class="right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="search......">
                    <i class="search link icon"></i>
                </div>
            </div>    <!--right iten表示靠右-->
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <!--menu toggle   没有显示意义，jquery获取元素-->
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="m-container-small m-padding-tb-large animated flash">   <!--animated fadeIn     是插件，flash  表示显示效果-->
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui horizontal link list"
                 style="-moz-user-select: none; /*火狐*//*选中文字时避免出现蓝色背景*/
                    -webkit-user-select: none; /*webkit浏览器*//*选中文字时避免出现蓝色背景*/
                    -ms-user-select: none; /*IE10*//*选中文字时避免出现蓝色背景*/
                    user-select: none;">    <!--horizontal表示横着的-->
                <div class="item">
                    <img src="https://picsum.photos/seed/picsum/100/100" th:src="@{${blog.user.avatar}}" alt=""
                         class="ui avatar image">
                    <div class="content"><a href="#" class="header" th:text="${blog.user.username}">Cris</a></div>
                    <!--avatar变为圆形-->
                </div>
                <div class="item">
                    <i class="calendar icon"></i>
                    <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}" style="text-align: center;vertical-align: middle">2020-03-06</span>
                </div>
                <div class="item" style="text-align: center">
                    <i class="eye icon" style="vertical-align: middle"></i>
                    <span th:text="${blog.views}" style="text-align: center;vertical-align: middle">2342</span>
                </div>
                <div class="item" type="button" id="likes" style="cursor: pointer">
                    <i class="thumbs up icon"
                       onmouseover="this.style.transform = 'scale(1.5)'"
                       onmouseout="this.style.transform = 'scale(1)'"
                       style="transition: transform 0.3s"></i>
                    <span th:text="${blog.views}" id="likeNum" style="text-align: center;vertical-align: middle">0</span>
<!--                    <span id="likeNum">0</span>-->
            </div>
        </div>
        <!--<div class="ui attached segment">
            图片
            <img src="../static/images/1005-800x450.jpg" th:src="@{${blog.firstPictures}}" alt=""
                 class="ui fluid rounded image">
        </div>-->
        <div class="ui attached padded segment">
            <!--内容-->
            <div class="ui right aligned basic segment">
                <div class="ui orange basic  label" th:text="${blog.flag}">原创</div>
            </div>
            <h2 class="ui center aligned header" th:text="${blog.title}">关于Typo css</h2>
            <!--<div id="content"  class="typo typo-selection js-toc-content m-padding-lr-responsive m-padding-tb-large" th:text=${blog.content}>     &lt;!&ndash;js-toc-content 生成目录&ndash;&gt;
            </div>-->
            <div id="test-editormd">
                <textarea id="message" name="message" style="display: none"
                          class="typo typo-selection js-toc-content m-padding-lr-responsive m-padding-tb-large"
                          th:text=${blog.content}></textarea>
            </div>

            <!--标签-->
            <div class="m-padding-lr">
                <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}" th:text="${tag.name}">方法论
                </div>
            </div>

            <!--赞赏-->
            <div class="ui center aligned basic segment">
                <button id="payButton" class="ui orange basic circular button">赞赏</button>
            </div>
            <div class="ui payQR flowing popup top left transition hidden">   <!--payQ为起名字-->
                <div class="ui orange basic label">
                    <div class="ui images" style="font-size: inherit">     <!--inherit继承上一级效果-->
                        <div class="image">
                            <img src="../static/images/zfb.jpg" th:src="@{/images/zfb.jpg}" alt=""
                                 class="ui rounded bordered image" style="width: 120px">
                            <div>支付宝支付</div>
                        </div>
                        <div class="image">
                            <img src="../static/images/wx.jpg" th:src="@{/images/wxhy.jpg}" alt=""
                                 class="ui rounded bordered image" style="width: 120px">
                            <div>微信支付</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="ui attached positive message">
            <!-- 博客信息-->
            <div class="ui middle aligned grid">
                <div class="eleven wide column">
                    <ul class="list">
                        <li>作者：<span th:text="${blog.user.username}">刘旭东</span><a href="/to/toAbout" target="_blank">(联系作者)</a>
                        </li>
                        <li>发表时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-03-09</span></li>
                        <li>授权声明：</li>
                        <li>公众号转载：请在文末添加作者公众号二维码</li>
                    </ul>
                </div>
                <div class="five wide column">
                    <img src="../static/images/wxgzh.jpg" th:src="@{/images/wxgzh.jpg}" style="width:90px;" alt=""
                         class="ui right floated aligned rounded bordered image">
                </div>
            </div>
        </div>
        <div id="comment-container" class="ui bottom attached segment">
            <!--留言区域列表-->
            <div class="ui teal segment">
                <!--用的是semantic的comment组件写留言-->
                <div class="ui threaded comments">
                    <h3 class="ui dividing header">留言</h3>
                    <div class="comment" th:each="comment : ${comment}">
                        <a class="avatar">
                            <img src="../static/images/1005-800x450.jpg" th:src="@{/images/1005-800x450.jpg}">
                        </a>
                        <div class="content">
                            <a class="author" th:text="${comment.email}">Matt</a>
                            <div class="metadata">
                                <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd')}">Today at 5:42PM</span>
                            </div>
                            <div class="text" th:text="${comment.content}">
                                楼主好文采
                            </div>
                            <!--<div class="actions">
                                <a class="reply">回复</a>
                            </div>-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="ui form">
        <div class="fields m-padding-tiny">
            <textarea name="content" id="comment" placeholder="请输入评论信息..."></textarea>
        </div>
        <div class="fields">
            <div class="field m-mobile-wide m-margin-bottom-small">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" placeholder="姓名" name="nickname" id="nickname1">
                </div>
            </div>
            <div class="field m-mobile-wide m-margin-bottom-small">
                <div class="ui left icon input">
                    <i class="ui mail icon"></i>
                    <input type="text" placeholder="邮箱" name="mail" id="mail">
                </div>
            </div>
            <div class="field m-mobile-wide m-margin-bottom-small">
                <button class="ui m-mobile-wide teal button" id="submit"><i class="edit icon"></i>发布</button>
            </div>
        </div>
    </div>
</div>
</div>


<div id="toolbar" class="m-padded m-fixed m-right-bottom">
    <div class="ui vertical icon buttons">
        <button type="button" class="ui toc button teal button" id="toc_test2">目录</button>
        <a href="#comment-container" type="button" class="ui teal button">留言</a>
        <button class="ui teal weChat button" ><i class="chat icon"></i></button>
        <div id="toTop-button" class="ui icon button top"><i class="chevron up icon"></i></div>

    </div>
</div>
<div class="ui toc-container flowing popup top left transition hidden" style="width: 250px !important;"><!--payQ为起名字-->
    <ol class="js-toc markdown-body editormd-preview-container" id="js-toc" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">   <!--目录生成在这个里面-->

    </ol>

</div>

<div id="qrcode" class="ui wechat-qr flowing popup transition hidden" style="width: 130px">
    <img src="./static/images/wxhy.jpg" th:src="@{/images/wxhy.jpg}" alt="" class="ui rounded image"
         style="width: 120px">
</div>


<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padding-tb-massive"><!-- vertical 垂直-->
    <div class="ui center aligned container">      <!--center aligned 表示container里面的东西全部居中-->
        <div class="ui inverted divided stackable grid">    <!--grid默认16列-->
            <div class="three wide column" align="center">     <!-- wide 填满   column 列-->
                <img src="../static/images/wxhy.jpg" class="ui rounded image" style="width:110px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(user store)</a>
                    <a href="#" class="item">用户故事(user store)</a>
                    <a href="#" class="item">用户故事(user store)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:15234023889@163.com</a>
                    <a href="#" class="item">QQ:1120620371</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">Blog</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">这是我的个人博客，欢迎前来观看，仅提供学习只用，同各类同道中人一起交流发展</a>
                </div>
            </div>
        </div>
        <div class="ui inverted divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">copyriht : © 2020 Designed by CRIS</p>
    </div>

</footer>
<div th:replace="_fragments :: script">
    <script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
    <script src="../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>    <!--平滑滚动插件-->
    <script src="../static/lib/tocbot/tocbot.min.js"></script>
    <script src="../static/lib/prism/prism.js"></script>
    <script src="../static/lib/qrcode/qrcode.min.js"></script>
    <script src="../static/lib/editormd-bk/lib/marked.min.js"></script>
    <script src="../static/lib/editormd-bk/lib/prettify.min.js"></script>
    <script src="../static/lib/editormd-bk/lib/raphael.min.js"></script>
    <script src="../static/lib/editormd-bk/lib/underscore.min.js"></script>
    <script src="../static/lib/editormd-bk/lib/sequence-diagram.min.js"></script>
    <script src="../static/lib/editormd-bk/lib/flowchart.min.js"></script>
    <script src="../static/lib/editormd-bk/lib/jquery.flowchart.min.js"></script>
    <script src="../static/lib/editormd-bk/editormd.js"></script>
</div>
<script type="text/javascript">
    /*markdown展示*/
    $(function () {
        var testEditor;
        testEditor = editormd.markdownToHTML("test-editormd", {
            width: "90%",
            height: "700",
            path: "/lib/editormd/lib/",
            preview: true,
            watch: true,
            editor: false,
            tex: true,
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
            tocm            : true,    // Using [TOCM]
            tocContainer    : "#js-toc", // 自定义 ToC 容器层
            markdownSourceCode: false,       //是否保留MarkDown源码
        });
        getCanvas();
    });


</script>
<script th:inline="javascript">

    $('#submit').click(
        function submit() {
            var blogId = [[${blog.id}]];
            var content = $('#comment').val();
            var name = $('#nickname1').val();
            var email = $('#mail').val();
            if(content == null || content == ""){
                getMessage("info","请输入评论内容");
                return;
            };
            const checkNum = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            if( !checkNum.test(email)){
                getMessage("info","请输入正确的邮箱");
                return;
            }

            $.ajax({
                url: "/blog/comment",
                data: {
                    blogId: blogId,
                    content: content,
                    name: name,
                    email: email
                },
                type: "post",
            })
            alert("请等待页面刷新");
            location.reload();
        }
    )




    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');   /*点击有这个效果就删除，没有这个效果就增加*/
    });

    $('#payButton').popup({
        popup: $('.payQR.popup'),       /*为了对应代码86行的payQR popup*/
        on: 'click',               /*获取button然后用popup组件进行点击对payQR展示*/
        position: 'bottom center'
    });

    /*点击目录生成对应目录的点击事件*/
    $('.toc.button').popup({
        popup: $('.toc-container.popup'),
        on: 'click',
        position: 'left center'
    });

    // /*初始化tocbot插件*/
    // tocbot.init({
    //     tocSelector: '.js-toc',
    //     contentSelector: '.js-toc-content',    /*生成目录的源头*/
    //     headingSelector: 'h1,h2,h3',   /*生成几级目录*/
    // })

    $('.weChat').popup({      /*微信QR code事件*/
        popup: $('.wechat-qr.popup'),
        position: 'left center'
    });

    var qrcode = new QRCode("qrcode", {    /*放置二维码的div的id*/
        text: "http://jindo.dev.naver.com/collie",
        width: 110,
        height: 110,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });

    $('#toTop-button').click(function () {     /*平滑滚动插件*/
        $(window).scrollTo(0, 500)    /*0代表最顶端   500代表事件，毫秒*/
    })

    var count = [[${blog.views}]];
    var likes = document.getElementById("likes");
    var likeNum = document.getElementById("likeNum");
    likes.addEventListener("click",function (){
        count++;
        likeNum.textContent = count;
    })


</script>

</body>
</html>














