<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>fileupload</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">

</head>
<body>
    <form action="/test/fileUpload" method="post" enctype="multipart/form-data">

        <input type="file" id="file" name="file" value="文件上传">
        <input type="submit" value="提交">
    </form>
    <h4>已上传文件列表</h4>
    <ol >
        <li th:each="file : ${file}" th:text="${file.real_name}" ></li>

    </ol>

    &lt;!&ndash;<input type="button" class="ui button" value="下载" onclick="download()"/>&ndash;&gt;
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script type="text/javascript">
    function download() {
        $.ajax({
            url : "/test/download",
            method : "get",
        })
    }
</script>
</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">   <!--引用  +传参    即使用thymeleaf模板自带的标题-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file</title>
    <link rel="stylesheet" href="../static/css/semantic.min.css" th:href="@{/css/semantic.min.css}">
    <link rel="stylesheet" href="../../static/css/me.css">   <!--引入模版-->
</head>
<body>

<!--    导航-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padding-tb-min  m-shadow-small">
    <!--inverted反转-->
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header m-lxd-blog">Cris</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我 </a>
            <div class="right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="search......">
                    <i class="search link icon"></i>
                </div>
            </div>    <!--right iten表示靠右-->
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <!--menu toggle   没有显示意义，jquery获取元素-->
        <i class="sidebar icon"></i>
    </a>
</nav>


<div class="m-container m-padding-tb-massive">
    <div class="ui success floating  message" th:unless="${#strings.isEmpty(message)}">
        <i class="close icon"></i>
        <div class="header">提示：</div>
        <p th:text="${message}">恭喜！操作成功</p>
    </div>
    <form action="/test/fileUpload" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="file" value="文件上传">
        <input type="submit" value="提交">
    </form>
    <h4>已上传文件列表</h4>
    <table class="ui unstackable table">
        <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Size</th>
            <th class="center aligned  aligned">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${file}">
            <td th:text="${file.num}"></td>
            <td th:text="${file.real_name}">Approved</td>
            <td th:text="${file.size}">Approved</td>
            <td class="center aligned selectable">
                <div class="ui buttons">
                    <button class="ui teal basic button">
                        <a href="#" th:href="@{/test/download/{id}(id=${file.id})}">下载</a>
                    </button>
                    <div class="or"></div>
                    <button class="ui orange basic  button">
                        <a href="#" th:href="@{/test/delete/{id}(id=${file.id})}">删除</a>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padding-tb-massive">
    <!-- vertical 垂直-->
    <div class="ui center aligned container">      <!--center aligned 表示container里面的东西全部居中-->
        <div class="ui inverted divided stackable grid">    <!--grid默认16列-->
            <div class="three wide column" align="center">     <!-- wide 填满   column 列-->
                <img src="../../static/images/wxhy.jpg" th:src="@{../static/images/wxhy.jpg}" class="ui rounded image"
                     alt="" style="width:110px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(user store)</a>
                    <a href="#" class="item">用户故事(user store)</a>
                    <a href="#" class="item">用户故事(user store)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:15234023889@163.com</a>
                    <a href="#" class="item">QQ:1120620371</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">Blog</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">这是我的个人博客，欢迎前来观看，仅提供学习只用，同各类同道中人一起交流发展</a>
                </div>
            </div>
        </div>
        <div class="ui inverted divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">copyriht : © 2020 Designed by CRIS</p>
    </div>

</footer>

</body>

<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script type="text/javascript">
    function download() {
        $.ajax({
            url: "/test/download",
            method: "get",
        })
    }

    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        })
    ;
</script>
</html>
