<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签页</title>   <!--代表当前标签所有的文章-->
    <link rel="stylesheet" href="../static/css/semantic.min.css" th:href="@{/css/semantic.min.css}">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--    导航-->
<nav th:replace="_fragments :: menu(3)" class="ui inverted attached segment m-padding-tb-min m-shadow-small">
    <!--inverted反转-->
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header m-lxd-blog">Cris</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i></icon>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我 </a>
            <div class="right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="search......">
                    <i class="search link icon"></i>
                </div>
            </div>    <!--right iten表示靠右-->
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <!--menu toggle   没有显示意义，jquery获取元素-->
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-container-small m-padding-tb-large">
    <div class="ui container">     <!--展示最好的效果-->
        <!--header-->
        <div class="ui top attached segment m-margin-top-large">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">标签</h3>   <!--teal 茶色-->
                </div>
                <div class="right aligned column">
                    共 <h3 class="ui orange header m-inline-block" th:text="${countTag}">14</h3>个
                    <!--h元素为block元素，会换行   所以使用inline变为非块原素-->
                </div>
            </div>
        </div>
        <div class="ui attached segment m-padding-tb-large">
            <div class="ui teal basic left pointing large label m-margin-tb-tiny" th:each="tag : ${tags}">
                <!--带颜色表示方法论这篇文章-->
                <a href="#" th:text="${tag.name}" style="font-weight: 500;"
                   th:href="@{/to/getBlogByTag/{id}(id=${tag.id})}">方法论</a>
                <div class="detail" th:text="${#arrays.length(tag.blogs)}"
                     th:href="@{/to/getBlogByTag/{id}(id=${tag.id})}">22
                </div>
            </div>
        </div>

        <div class="ui top attached segment teal">
            <div class="ui padded vertical segment m-padding-tb-large m-mobile-lr-clear"
                 th:each="blogByTag : ${blogByTag}">
                <div class="ui mobile reversed stackable grid">
                    <div class="ui eleven wide column">
                        <h3><a class="ui header" th:text="${blogByTag.title}"
                               th:href="@{/blog/{id}(id=${blogByTag.id})}">你真的理解什么是Java开发吗</a></h3>
                        <p class="m-text" th:text="${blogByTag.description}">
                            Java是一门面向对象编程语言，不仅吸收了C++语言的各种优点，还摒弃了C里难以理解的多继承、指针等概念，因此Java语言具有功能强大和简单易用两个特征。</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">    <!--horizontal表示横着的列表-->
                                        <div class="item">
                                            <img src="https://picsum.photos/seed/picsum/100/100" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header"
                                                                    th:text="${blogByTag.user.username}">刘旭东</a></div>
                                            <!--avatar变为圆形-->
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>
                                            <p th:text="${#dates.format(blogByTag.createTime,'yyyy-MM-dd')}"
                                               style="display: inline">2020-03-06</p>
                                        </div>
                                        <!--<div class="item">
                                            <i class="eye icon"></i>23
                                        </div>-->
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a  class="ui teal label m-padding-tiny m-text-thin"
                                       th:text="${blogByTag.type.name}">认证升级</a>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="column"></div>     &lt;!&ndash;为了占一列位置，防止标签过于靠左&ndash;&gt;
                                <a href="#" class="ui basic teal left pointing mini label m-text-thin">方法论</a>
                            </div>-->
                        </div>

                    </div>
                    <div class="ui five wide column">
                        <a href="#" target="_blank">     <!--—_blank表示点击新打开页面-->
                            <img src="../static/images/1005-800x450.jpg" th:src="@{${blogByTag.firstPictures}}" alt=""
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>


        </div>
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui button teal basic mini">上一页</a>     <!--basic表示中间镂空-->
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui button teal basic mini">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>


<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padding-tb-massive">
    <!-- vertical 垂直-->
    <div class="ui center aligned container">      <!--center aligned 表示container里面的东西全部居中-->
        <div class="ui inverted divided stackable grid">    <!--grid默认16列-->
            <div class="three wide column" align="center">     <!-- wide 填满   column 列-->
                <img src="../static/images/wxhy.jpg" class="ui rounded image" style="width:110px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(user store)</a>
                    <a href="#" class="item">用户故事(user store)</a>
                    <a href="#" class="item">用户故事(user store)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:15234023889@163.com</a>
                    <a href="#" class="item">QQ:1120620371</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">Blog</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">这是我的个人博客，欢迎前来观看，仅提供学习只用，同各类同道中人一起交流发展</a>
                </div>
            </div>
        </div>
        <div class="ui inverted divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">copyriht : © 2020 Designed by CRIS</p>
    </div>

</footer>
<div th:replace="_fragments :: script">
    <script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
    <script src="../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
</div>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');   /*点击有这个效果就删除，没有这个效果就增加*/
    });
    $(function () {
        getCanvas();
    })
</script>
</body>
</html>














